<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{layout_console.html}">

<head>
    <title>商品分类</title>
</head>

<body>

<div class="content" data-layout-fragment="content">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/">首页</a></li>
                        <li class="breadcrumb-item"><a href="/product-item">商品中心</a></li>
                        <li class="breadcrumb-item active">分类管理</li>
                    </ol>
                </div>
                <h4 class="page-title">新增分类&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-outline-success" id="backUrl" th:href="${backUrl}"><i class="mdi mdi-arrow-left-circle-outline"></i>返回</a>
                </h4>
            </div> <!-- end page-title-box -->
        </div> <!-- end col-->
    </div>
    <!-- end page title -->

    <div class="card">
        <div class="card-body" style="padding: 80px 50px; margin: auto;">
            <form id="dataform" class="form-horizontal row">
                <input type="hidden" name="parentId" th:value="${id}">

                <div class="col-md-12">
                    <div class="form-group row mb-3">
                        <label class="col-2 col-form-label" style="text-align: right">
                            <span class="text-danger">*</span> 分类名称
                        </label>
                        <div class="col-8">
                            <input  class="form-control" style="max-width: 350px" name="name">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label  class="col-2 col-form-label" style="text-align: right">
                            <span class="text-danger">*</span> 排序号
                        </label>
                        <div class="col-8">
                            <input  class="form-control" style="max-width: 350px" name="rankNum">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group row mb-3">
                        <label  class="col-2 col-form-label" style="text-align: right">显示图标</label>
                        <div class="col-8">
                            <div id="pic" style="width: 100px; height: 100px;"></div>
                            <input type="hidden" name="firstPicUrl">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group row mb-3">
                        <label  class="col-2 col-form-label" style="text-align: right">轮播相册</label>
                        <div class="col-8">
                            <div id="albumPicUrls" data-width="350px" data-height="100px" multiple="true"></div>
                            <input type="hidden" name="albumPicUrls" id="albumPicUrl">
                        </div>
                    </div>
                </div>

                <div class="row col-md-4 offset-4">
                    <button type="button" class="btn btn-primary formSubmit">
                        <i class="dripicons-search mr-1"></i>提交
                    </button>
                    <button type="button" class="btn btn-secondary formReset ml-1">
                        <i class="dripicons-trash mr-1"></i>清空
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="width:500px;height: 150px;"></div>

</div>

</body>
<th:block data-layout-fragment="scripts">
    <script>
        $(document).ready(function () {
            var app = WebFormApp('#dataform');
            WebUploader('#pic', {target: 'input[name="firstPicUrl"]',placeholder: '选择图片'});
            WebUploader('#albumPicUrls', {target: 'input[name="albumPicUrls"]', placeholder: '选择上传', preview: '!banner_3.5x1'});

            $('#dataform').on('click', '.formSubmit', function () {
                var submit = app.submit();
                AjaxPost("/product-menus", submit, function (data) {
                    app.notifyOk('创建成功，即将跳转！');
                    setTimeout(function () {
                        window.location.href = $('#backUrl').attr('href');
                    }, 500);
                });
            }).on('click', '.formReset', function () {
                app.reset();
            });
        });
    </script>
</th:block>
</html>