<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{layout_console.html}">

<head>
    <title>控制台</title>
    <th:block data-layout-fragment="stylesheets">
        <link href="assets/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/vendor/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/vendor/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/vendor/select.bootstrap4.css" rel="stylesheet" type="text/css" />
    </th:block>
</head>

<body>

<div class="content" data-layout-fragment="content">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">首页</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">控制台</a></li>
                        <li class="breadcrumb-item active">控制台</li>
                    </ol>
                </div>
                <h4 class="page-title">控制台</h4>
            </div> <!-- end page-title-box -->
        </div> <!-- end col-->
    </div>

    <h3 style="padding: 50px">欢迎登陆</h3>

</div>

</body>
</html>