<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{layout_console.html}">

<head>
    <title>用户管理</title>
    <th:block data-layout-fragment="stylesheets">
        <link href="assets/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/vendor/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/vendor/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/vendor/select.bootstrap4.css" rel="stylesheet" type="text/css" />
    </th:block>
</head>

<body>

<div class="content" data-layout-fragment="content">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">首页</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">账户管理</a></li>
                        <li class="breadcrumb-item active">用户管理</li>
                    </ol>
                </div>
                <h4 class="page-title">用户管理</h4>
            </div> <!-- end page-title-box -->
        </div> <!-- end col-->
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form id="dataform" data-query="/account-users/query" class="row mt-2 mb-4">
                        <div class="col-md-2">
                            <p class="font-weight-bold text-muted">角色</p>
                            <select class="form-control formRoles" name="role" ></select>
                        </div>

                        <div class="col-md-3">
                            <p class="font-weight-bold text-muted">关键字</p>
                            <input class="form-control" name="keywords" placeholder="用户姓名"/>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <p class="font-weight-bold text-muted" style="color: #ffffff">-</p>
                            <button type="button" class="btn btn-primary formSubmit">
                                <i class="dripicons-search mr-1"></i>搜索
                            </button>
                            <button type="button" class="btn btn-secondary formReset ml-1">
                                <i class="dripicons-trash mr-1"></i>清空
                            </button>
                            <a class="btn btn-primary" href="/user/create"><i class="dripicons-plus"></i>新增用户</a>
                        </div>
                    </form>

                    <table id="datatable" class="table dt-responsive nowrap" data-query="#dataform" data-ajax-url="/account-users" width="100%">
                        <thead>
                        <tr>
                            <th>用户头像</th>
                            <th>姓名</th>
                            <th>角色</th>
                            <th>性别</th>
                            <th>手机号</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>

</body>
<th:block data-layout-fragment="scripts">
    <script src="/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/assets/js/vendor/dataTables.bootstrap4.js"></script>
    <script src="/assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="/assets/js/vendor/responsive.bootstrap4.min.js"></script>
    <script src="/assets/js/vendor/dataTables.buttons.min.js"></script>
    <script src="/assets/js/vendor/buttons.bootstrap4.min.js"></script>
    <script src="/assets/js/vendor/buttons.html5.min.js"></script>
    <script src="/assets/js/vendor/buttons.flash.min.js"></script>
    <script src="/assets/js/vendor/buttons.print.min.js"></script>
    <script src="/assets/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="/assets/js/vendor/dataTables.select.min.js"></script>
    <script>
        $(document).ready(function () {
            var app = WebTableApp('#datatable', [
                { data: 'avatarUrl', width: '60px', className: 'text-center',  render: function(data) {
                        return '<img src="'+data+'!thumb_64'+'" style="width: auto;height: auto;max-width: 30px;max-height: 30px">'
                    }},
                { data: 'name', width: '120px', className: 'text-center' },
                { data: 'roleLabel' },
                { data: 'sex', width: '100px', render: function(data) {
                        var html;
                        if(data=="MALE"){
                            html='<span class="badge badge-info-lighten" style="font-size: 13px">男</span>'
                        }else if(data=="FEMALE"){
                            html= '<span class="badge badge-warning-lighten" style="font-size: 13px">女</span>'
                        }else{
                            html='<span class="badge badge-warning-lighten" style="font-size: 13px">保密</span>'
                        }
                        return html;
                    }},
                { data: 'mobile' },
                { data: 'limitStatus',width: '80px', render: function(data) {
                        return data == "NORMAL" ? '<span class="badge badge-success" style="font-size: 13px">正常</span>' :
                            '<span class="badge badge-danger" style="font-size: 13px">停用</span>';
                    }},
                { data: 'id', width: '120px', className: 'text-center', render: function(data, type, row, meta) {
                        return '<div class="btn-group">' +
                            '<button class="btn btn-sm btn-warning tableEdit" data-id="'+data+'">更新</button>' +
                            '<button class="btn btn-sm btn-danger tableRemove" data-id="'+data+'" data-title="'+row['title']+'">删除</button>' +
                            '</div>';
                    }}
            ]);

            /**
             * 查询表单事件
             */

            $('#dataform').on('click', '.formSubmit', function () {
                app.search();
            }).on('click', '.formReset', function () {
                app.reset();
            });

            /**
             * 表格操作事件
             */

            $('#datatable').on('click', '.tableEdit', function () {
                var id = $(this).data('id');
                setTimeout(function () {
                    location.href = '/user/' + id+"/edit";
                }, 500);
            }).on('click', '.tableRemove', function () {
                var id = $(this).data('id');
                if(window.confirm("确认删除？")){
                    AjaxDelete("/account-users/"+id,null,function () {
                        $.NotificationApp.send(null, '用户删除成功！', "top-center", "rgba(0,0,0,0.2)", 'success');
                        setTimeout(function () {
                            location.href = '/user';
                        }, 500);
                    })
                }
            });
        });
    </script>
</th:block>
</html>