<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{layout_console.html}">

<head>
    <title>消息广播管理</title>
</head>

<body>

<div class="content" data-layout-fragment="content">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/">首页</a></li>
                        <li class="breadcrumb-item"><a>页面中心</a></li>
                        <li class="breadcrumb-item active">消息广播</li>
                    </ol>
                </div>
                <h4 class="page-title">编辑广播&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-outline-success" href="/page-radio"><i class="mdi mdi-arrow-left-circle-outline"></i>返回</a>
                </h4>
            </div> <!-- end page-title-box -->
        </div> <!-- end col-->
    </div>
    <!-- end page title -->

    <div class="card">
        <div class="card-body" style="padding: 100px 50px">
            <input type="hidden" id="formId" th:value="${id}">
            <form id="dataform" th:data-query="'/page-radios/'+${id}+'/edit'" class="form-horizontal row">
                <div class="col-md-12">
                    <input  class="form-control" type="hidden" name="test">
                    <div class="form-group row mb-3">
                        <label class="col-2 col-form-label" style="text-align: right"><span class="text-danger">*</span> 标题</label>
                        <div class="col-5">
                            <input  class="form-control" name="title">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group row mb-3">
                        <label  class="col-2 col-form-label" style="text-align: right"><span class="text-danger">*</span> 跳转链接</label>
                        <div class="col-5">
                            <input  class="form-control" name="target">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group row mb-3">
                        <label  class="col-2 col-form-label" style="text-align: right"><span class="text-danger">*</span> 消息内容</label>
                        <div class="col-5">
                            <textarea name="content" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-left: 40%">
                    <button type="button" class="btn btn-primary formSubmit">
                        <i class="dripicons-search mr-1"></i>提交
                    </button>
                    <button type="button" class="btn btn-secondary formDelete ml-1">
                        <i class="dripicons-trash mr-1"></i>删除
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="width: 500px; height: 150px;"></div>

</div>

</body>
<th:block data-layout-fragment="scripts">
    <script>
        $(document).ready(function () {

            var app = WebFormApp('#dataform', {
                onloaded: function () {
                    WebUploader('#picUrl', {target: 'input[name="picUrl"]',placeholder: '选择图片'});
                }
            });

            $('#dataform').on('click', '.formSubmit', function () {
                var formId = $('#formId').val()
                var submit = app.submit();

                AjaxPut("/page-radios/" + formId, submit, function (data) {
                    app.notifyOk('操作成功，即将跳转！');
                    setTimeout(function () {
                        window.location.href = '/page-radio';
                    }, 500);
                });
            }).on('click', '.formDelete', function () {
                var formId = $('#formId').val()
                if(window.confirm("确认删除？当前操作不可恢复！")) {
                    AjaxDelete('/page-radios/' + formId, {}, function () {
                        app.notifyOk('操作成功，即将跳转！');
                        setTimeout(function () {
                            window.location.href = '/page-radio';
                        }, 500);
                    })
                }
            });

        });


    </script>
</th:block>
</html>